extends layout

block content
	#banner.page-header
		.row
			.col-lg-6
				h1 Loc8r
					small &nbsp;Find places to work with wifi near you!
	.row
		.col-xs-12.col-sm-8
			.row.list-group
				.col-xs-12.list-group-item
					h4
						a(href="/location") Starcups
						small &nbsp;
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
						span.badge.pull-right.badge-default 100m
					p.address 125 Hight Street, Reading, RG6 1PS
					p
						span.label.label-warning Hot drinks
						| &nbsp;
						span.label.label-warning Food
						| &nbsp;
						span.label.label-warning Premium wifi
						| &nbsp;

		.col-xs-12.col-sm-8
			.row.list-group
				.col-xs-12.list-group-item
					h4
						a(href="/location") Malmö centralstation
						small &nbsp;
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
						span.badge.pull-right.badge-default 120m
					p.address Malmö centralstation, 211 20 Malmö
					p
						span.label.label-warning Hot drinks
						| &nbsp;
						span.label.label-warning Food
						| &nbsp;
						span.label.label-warning Premium wifi
						| &nbsp;

		.col-xs-12.col-sm-8
			.row.list-group
				.col-xs-12.list-group-item
					h4
						a(href="/location") medieinstitutet malmö
						small &nbsp;
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
						span.badge.pull-right.badge-default 150m
					p.address Skeppsbron 5, 211 20 Malmö
					p
						span.label.label-warning Hot drinks
						| &nbsp;
						span.label.label-warning Food
						| &nbsp;
						span.label.label-warning Premium wifi
						| &nbsp;
											
		.col-xs-12.col-sm-4
			p.lead Looking for wifi and a seat? Loc8r Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta necessitatibus dolorem autem, magnam, sunt adipisci nesciunt animi esse minima quisquam. Doloremque aut labore quo, nostrum fugiat ad vel minus eos, ut quaerat ipsum libero dolorum ullam ex repudiandae nisi deleniti natus consequatur necessitatibus voluptate reprehenderit illo. Perspiciatis voluptates optio ipsum find the place you're looking for.				

